@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/subset-PTSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/subset-PTSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'BebasNeue-Regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/subset-BebasNeue-Regular.woff2') format('woff2');
}
