@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  min-width: 320px;
  color: $color-black-blue;
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:active {
    text-decoration: none;
  }
}
