$background-color: #f4f5f9;

$color-black-blue: #42567a;
$color-fuschia-100: #ef5da8;
$color-fuschia-80: #f178b6;
$color-iris-100: #5d5fef;
$color-blue: #3877ee;
$color-white: #ffffff;
$color-gray-light: #c7cdd9;

$color-gray: rgba(48, 62, 88, 0.5);
$color-light: rgba(56, 119, 238, 0.1);
$color-black-blue-01: rgba(66, 86, 122, 0.1);
$color-black-blue-02: rgba(66, 86, 122, 0.2);
$color-black-blue-05: rgba(66, 86, 122, 0.5);

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 1024px;

$main-padding: 160px;
$laptop-padding: 40px;
$mobile-padding: 20px;

$content-area: 1440px;
