@import 'src/styles/variables';
@import 'src/styles/mixins';

.slider-horizontal {
  position: relative;
  padding-left: 80px;
  padding-right: 160px;

  @include maxBp($breakpoint-tablet) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 40px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $color-gray-light;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .swiper-slide {
    max-width: 320px;
    @include maxBp($breakpoint-tablet) {
      max-width: 166px;
    }
  }

  .swiper-slide:first-child {
    @include maxBp($breakpoint-tablet) {
      padding-left: $mobile-padding;
      max-width: calc(166px + $mobile-padding);
    }
  }
  .swiper-slide:last-child {
    @include maxBp($breakpoint-tablet) {
      padding-right: $mobile-padding;
      max-width: calc(166px + $mobile-padding);
    }
  }

  &__navigation {
    display: flex;
  }

  &__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    filter: drop-shadow(0 0 15px $color-light);
    padding: 0;
    margin: 0;

    cursor: pointer;

    border: 1px solid $color-black-blue-05;
    border-radius: 50%;

    &:hover {
      background-color: $color-white;
    }

    @include maxBp($breakpoint-tablet) {
      display: none;
    }
  }

  &__button-disabled {
    display: none;
  }

  &__button-prev {
    position: absolute;
    z-index: 2;
    bottom: 50%;
    transform: translateY(-50%);
    left: 20px;
    rotate: 180deg;
  }

  &__button-next {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }

  .slide-horizontal {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__year {
      font-family: 'BebasNeue-Regular', sans-serif;
      font-size: 25px;
      line-height: 120%;
      padding: 0;
      margin: 0;
      color: $color-blue;

      @include maxBp($breakpoint-tablet) {
        font-size: 16px;
      }
    }

    &__event {
      padding: 0;
      margin: 0;
      @include maxBp($breakpoint-tablet) {
        font-size: 14px;
        line-height: 145%;
      }
    }
  }
}

.slide__date-to {
  color: $color-iris-100;
}

.slide__date-from {
  color: $color-fuschia-100;
}
